# Copyright 2021 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

menuconfig CROS_SYSTEM_NPCX
	bool "Nuvoton NPCX cros system driver"
	depends on SOC_FAMILY_NPCX
	default y
	help
	  This option enables a system driver for the NPCX family of
	  processors.
