/* SPDX-License-Identifier: BSD-3-Clause
 *
 * Copyright (c) 2020 The Chromium OS Authors
 *
 * This file includes sections changes from PR #28335
 * (https://github.com/zephyrproject-rtos/zephyr/pull/28335).
 * When PR #28335 is merged, change the #include and delete the
 * included sections.
 */

/dts-v1/;
#include <st/f1/stm32f103Xg.dtsi>

/ {
	model = "Google Chameleon";
	compatible = "st,stm32f103ze", "st,stm32f103";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		power_good_led: led {
			gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
			label = "PowerGood";
		};
	};

	sd-mux {
		compatible = "gpio-keys";

		sd_mux_sel {
			gpios = <&gpioe 0 0>;
			label = "SD_MUX_SEL";
		};

		sd_mux_en_l {
			gpios = <&gpioe 1 0>;
			label = "SD_MUX_EN_L";
		};

		usd_pwr_sel {
			gpios = <&gpiob 13 0>;
			label = "USD_PWR_SEL";
		};

		usd_pwr_en {
			gpios = <&gpioe 4 0>;
			label = "USD_PWR_EN";
		};

		usd_cd_det {
			gpios = <&gpioe 2 0>;
			label = "USD_CD_DET";
		};
	};

	sysmon {
		compatible = "gpio-keys";

		sysmon_sel {
			gpios = <&gpioc 6 0>;
			label = "SYSMON_SEL";
		};
	};

	fpga {
		compatible = "gpio-keys";

		pwr_en {
			gpios = <&gpioc 7 0>;
			label = "SOM_PWR_EN";
		};

		pwr_good {
			gpios = <&gpioc 8 0>;
			label = "SOM_PWR_GOOD";
		};

		boot_mode1 {
			gpios = <&gpiod 1 0>;
			label = "SOM_BOOT_MODE1";
		};

		boot_mode0 {
			gpios = <&gpiod 0 0>;
			label = "SOM_BOOT_MODE0";
		};

		por_l_load_l {
			gpios = <&gpiob 1 0>;
			label = "SOM_POR_L_LOAD_L";
		};

		fpga_done {
			gpios = <&gpiob 0 0>;
			label = "SOM_FPGA_DONE";
		};
	};

};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&uart4 {
	current-speed = <115200>;
	status = "okay";
};

&uart5 {
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&adc1 {
	status = "okay";
};

&adc3 {
	status = "okay";
};

&usb {
	status = "okay";
};

&timers1 {
	status = "okay";
};

&systick {
	status = "okay";
};
