/* SPDX-License-Identifier: BSD-3-Clause
 *
 * Copyright (c) 2020 The Chromium OS Authors
 */

/dts-v1/;
#include <st/f1/stm32f103Xg.dtsi>
#include <../../../include/dt-bindings/gpio_defines.h>

/ {
	model = "Google Chameleon";
	compatible = "st,stm32f103ze", "st,stm32f103";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		power_good_led {
			gpios = <&gpiob 14 GPIO_OUTPUT_HIGH>;
			label = "PowerGood";
		};
	};

	sd-mux {
		compatible = "gpio-keys";

		sd_mux_sel {
			gpios = <&gpioe 0 GPIO_OUTPUT_LOW>;
			label = "SD_MUX_SEL";
		};

		sd_mux_en_l {
			gpios = <&gpioe 1 GPIO_OUTPUT_HIGH>;
			label = "SD_MUX_EN_L";
		};

		usd_pwr_sel {
			gpios = <&gpiob 13 GPIO_OUTPUT_LOW>;
			label = "USD_PWR_SEL";
		};

		usd_pwr_en {
			gpios = <&gpioe 4 GPIO_OUTPUT_LOW>;
			label = "USD_PWR_EN";
		};

		usd_cd_det {
			gpios = <&gpioe 2 GPIO_INPUT_PULL_UP>;
			label = "USD_CD_DET";
		};
	};

	sysmon {
		compatible = "gpio-keys";

		sysmon_sel {
			gpios = <&gpioc 6 GPIO_OUTPUT_HIGH>;
			label = "SYSMON_SEL";
		};
	};

	fpga {
		compatible = "gpio-keys";

		pwr_en {
			gpios = <&gpioc 7 GPIO_OUTPUT_LOW>;
			label = "SOM_PWR_EN";
		};

		pwr_good {
			gpios = <&gpioc 8 GPIO_INPUT_PULL_UP>;
			label = "SOM_PWR_GOOD";
		};

		boot_mode1 {
			gpios = <&gpiod 1 GPIO_OUTPUT_HIGH>;
			label = "SOM_BOOT_MODE1";
		};

		boot_mode0 {
			gpios = <&gpiod 0 GPIO_OUTPUT_HIGH>;
			label = "SOM_BOOT_MODE0";
		};

		por_l_load_l {
			gpios = <&gpiob 1 GPIO_OUTPUT_LOW>;
			label = "SOM_POR_L_LOAD_L";
		};

		fpga_done {
			gpios = <&gpiob 0 GPIO_INPUT_PULL_UP>;
			label = "SOM_FPGA_DONE";
		};
	};

	misc {
		compatible = "gpio-keys";

		tp126 {
			gpios = <&u78 11 GPIO_OUTPUT_LOW>;
			label = "TP126";
		};

		tp125 {
			gpios = <&u78 12 GPIO_OUTPUT_LOW>;
			label = "TP125";
		};

		board_version_2 {
			gpios = <&u78 13 GPIO_INPUT>;
			label = "BOARD_VERSION_2";
		};

		board_version_1 {
			gpios = <&u78 14 GPIO_INPUT>;
			label = "BOARD_VERSION_1";
		};

		board_version_0 {
			gpios = <&u78 15 GPIO_INPUT>;
			label = "BOARD_VERSION_0";
		};
	};

	i2c-switch {
		compatible = "gpio-keys";

		exp_reset {
			gpios = <&gpiob 8 GPIO_OUTPUT_HIGH>;
			label = "I2C1_EXP_RESET_L";
		};

		exp_irq {
			gpios = <&gpiob 5 GPIO_INPUT_PULL_UP>;
			label = "I2C1_SMBA";
		};
	};

	videomux {
		compatible = "gpio-keys";

		/*
		 * I/Os are initially set to connect HDMI signals to the FPGA
		 * MGTs and DisplayPort signals through the DP->HDMI converter
		 * to the HDMI Receiver.
		 */
		gp213_it68051p1_ch_sel {
			/* GPU_SEL on U18 */
			gpios = <&gpiog 1 GPIO_OUTPUT_LOW>;
			label = "GP213_IT68051P1_CH_SEL";
		};

		dp1_ps8468_sw {
			/* SW on U3 */
			gpios = <&gpiog 12 GPIO_OUTPUT_LOW>;
			label = "DP1_PS8468_SW";
		};

		hdmi1_gp213_ch_sel {
			/* GPU_SEL on U10 */
			gpios = <&gpiog 0 GPIO_OUTPUT_HIGH>;
			label = "HDMI1_GP213_CH_SEL";
		};

		somp1_mode_sel {
			/* GPU_SEL on U11 */
			gpios = <&gpiog 4 GPIO_OUTPUT_HIGH>;
			label = "SOMP1_MODE_SEL";
		};

		/*
		 * Note that all of the channels are designated 1&2 except for
		 * the IT68051, which has ports 1 (channel 1 on the other
		 * switches) and 0 (channel 2 on the other switches).
		 */
		gp213_it68051p0_ch_sel {
			/* GPU_SEL on U14 */
			gpios = <&gpiog 3 GPIO_OUTPUT_LOW>;
			label = "GP213_IT68051P0_CH_SEL";
		};

		dp2_ps8468_sw {
			/* SW on U22 */
			gpios = <&gpiog 13 GPIO_OUTPUT_LOW>;
			label = "DP2_PS8468_SW";
		};

		hdmi2_gp213_ch_sel {
			/* GPU_SEL on U29 */
			gpios = <&gpiog 2 GPIO_OUTPUT_HIGH>;
			label = "HDMI2_GP213_CH_SEL";
		};

		somp2_mode_sel {
			/* GPU_SEL on U31 */
			gpios = <&gpiog 5 GPIO_OUTPUT_HIGH>;
			label = "SOMP2_MODE_SEL";
		};

		/*
		 * Reset lines for the PS8468 demuxes. All of the other
		 * mux/demux chips do not have reset lines.
		 */
		dp1_ps8468_rst_l {
			/* RESETN on U3 */
			gpios = <&gpiof 5 GPIO_OUTPUT_HIGH>;
			label = "DP1_PS8468_RST_L";
		};

		dp2_ps8468_rst_l {
			/* RESETN on U22 */
			gpios = <&gpiof 11 GPIO_OUTPUT_HIGH>;
			label = "DP2_PS8468_RST_L";
		};
	};
};

&usart1 {
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	current-speed = <115200>;
	status = "okay";
};

&uart4 {
	current-speed = <115200>;
	status = "okay";
};

&uart5 {
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";

	/* U78 I/O expander, DP1 OUT config signals, plus misc I/O */
	u78: pca95xx@21 {
		compatible = "nxp,pca95xx";
		label = "PCA95XX";
		reg = <0x21>;
		#gpio-cells = <2>;
		gpio-controller;
	};
};

&adc1 {
	status = "okay";
};

&adc3 {
	status = "okay";
};

&usb {
	status = "okay";
};

&timers1 {
	status = "okay";
};

&systick {
	status = "okay";
};
